body{
	background-color: #ffffff;
}
/* filters */
#xCHFilters{
	position: fixed;
	top: 0px;
	height: 100px;
	
	right: 1em;
	width: 300px;
	border: 1px solid #ccc;
}
#xCHFilters>table.data{
	width: 100%;
}
#displayedDays>div.selector>input{
	width: 200px;
	display: block;
}
#displayedDays>div.selector>span{
	float: right;
	width: 3em; 
	height: 16px;
	text-align: right;
	border-bottom: 1px solid #888;
}
#displayedDays>div.shotcuts{
	text-align: left;
}
#displayedDays>div.shortcuts>span{
	margin-left: 0.5em;
	margin-right: 0.5em;
	color: #44c;
	cursor: pointer;
}
#displayedDays>div.shortcuts>span:hover{
	border-bottom: 1px solid #008;
}


/*data table*/
#xCHTarget>table.data{
	border-collapse: collapse;
	font-family: monospace;
	font-size: 12px;
	margin-top: 19px;
	background-color: #ffffff;
	border: 1px solid #000 !important;
}
table>tbody>tr>td{
	font-family: monospace;
	padding: 0.15em;
	border: 1px solid #fff;
}


table tr.newDay td{
	padding-top: 0.5em;
}

table tr td.dayOfWeek{
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	font-size: 14px;
	padding-right: 1em;
}
table tr td.date{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
}


table tr td.hour{
	color: #888;
}

table tr td.reference.value{
	font-weight: bold;
}
table tr td.reference.diff{
	font-size: 12px;
}

table tr td.value{
	border: 1px solid #f0f0f0;
	vertical-align: bottom;
}
table tr td.diff{
	border: 1px dashed #f0f0f0;
	font-size: 8px;
	vertical-align: bottom;
}
table tr td.diff.variation-positive{
	vertical-align: bottom;
}
table tr td.diff.variation-negative{
	vertical-align: top;
}

/* hovers */
table>tbody.day:hover>tr>td.variation-none{
	color: #ddd;
}
table>tbody.day:hover>tr>td.value.variation-positive{
	color: #C04545;	/* red */
}
table>tbody.day:hover>tr>td.value.variation-positive.minimum-01p{
	color: #E16666; 	/*red*/
}
table>tbody.day:hover>tr>td.value.variation-negative{
	color: #379A37;	/* green */
}
table>tbody.day:hover>tr>td.value.variation-negative.minimum-01p{
	color: #CAEFCA;
}

table>tbody.day:hover>tr>td{
	border: 1px solid #ccc;
}
/*
table>tbody.day>tr:hover>td.variation-none{
	color: #666;
}
*/



table>tbody>tr>td.value.variation-none{
	color: #F8F8F8;
}
table>tbody>tr>td.value.variation-positive{
	color: #F9A7A7; 	/*red*/
}
table>tbody>tr>td.value.variation-negative{
	color: #A0EFA0; 	/*green*/
}

table>tbody>tr>td.diff.variation-none{
	color: #f0f0f0;
}
table>tbody>tr>td.diff.variation-positive{
	color: #a00;
}
table>tbody>tr>td.diff.variation-negative{
	color: #0a0;
}

/* min/max 
	@see http://colorschemedesigner.com/#2P21ThxscdgNK
	http://colorschemedesigner.com/#2P61ThxscdgNK
*/
table>tbody>tr>td.minimum-01p{
	background-color: #379A37;
	color: #ABD25F;
}
table>tbody>tr>td.maximum-01p{
	background-color: #C04545;
}

table>tbody>tr>td.minimum-05p{
	background-color: #51B451;
}
table>tbody>tr>td.maximum-05p{
	background-color: #E16666;
}

table>tbody>tr>td.minimum-10p{
	background-color: #A0EFA0;
}
table>tbody>tr>td.maximum-10p{
	background-color: #F9A7A7;
}

table>tbody>tr>td.minimum-25p{
	background-color: #CAEFCA;
}
table>tbody>tr>td.maximum-25p{
	background-color: #F9D2D2;
}

/** header **/
#xCHTarget>table.header{
	border-collapse: collapse;
	font-family: monospace;
	font-size: 12px;
	
	opacity: 0.60;
	background-color: #f0f0f0;
	
	color: #000;
	
	position: fixed;
	top: 0px;
	
	table-layout: fixed;
	white-space: pre;
}
#xCHTarget>table.header:hover{
	opacity: 1;
}
#xCHTarget>table.header tbody td{
	border: 1px solid #000;
	text-align: center;
}
#xCHTarget>table.header tbody td:nth-child(1){
	text-align: left;
}
